{% extends 'base.html' %}

<title>About Us</title>
{% block main %}

<div class="container card"  style="margin-top:5%">
    <div class="container">
        {% for h in ahdata %}
        <div class="row">
            <h2 >About Us</h2>
            
            <div class="col-6">
                
                
                
                {% if h.ahimage %}
                    <img src="{{ h.ahimage.url }}"style="max-width: 100%; max-height: 300px;">
                {% else %}
                    No Image Available
                {% endif %}
            
                
                
                    
                
            </div>

            <div class="col-6">
                <h2>Introduction </h2>
                <p>{{h.ahintroduction}}</p>
                
            </div>
            {% endfor %}
        </div>  
    </div>

    <div class="container mt-3">
        {% for h in ahdata %}
        <div class="row">
            
            <div class=" card col-3" style="margin-left: 10%;">
                
                    <h2>Vision </h2>
                    <hr>
                    <p>{{h.ahvision}}</p>
                
                
            </div>

            <div class=" card col-3" style="margin-left: 30%;">
                <h2>Mission </h2>
                <hr>
                <p>{{h.ahmission}}</p>
                
            </div>
            
        </div>
        {% endfor %}
    </div>

    <div class="container mt-3">
        <div class="row">
            
            <div class=" card col-3" style="margin-left: 10%;">
                <h2>doctors </h2>
                <hr>
                <h2 style="font-size:25px;">{{ ddata|length }}</h2>
                
            </div>

            <div class=" card col-3" style="margin-left: 30%;">
                <h2>Specialty </h2>
                <hr>
                <h2 style="font-size:25px;">{{ sdata|length }}</h2>
                
            </div>
            
        </div>
    </div>
</div>










{% endblock main %}